body{
	background: linear-gradient(#47a592,#a27f44);
	color: whitesmoke;
	font-family: 'Montserrat';
	background-repeat: no-repeat;
}
header{
	padding: 10px;
}
footer{
	background-color: rgba(255,255,255,0.15);
	padding-bottom: 10px;
}
.logo-i{
	padding-top: 50px;
}

.form-control{
	background-color: rgba(255,255,255,0.15);
	color: whitesmoke;
}

.btn-sesion{
	border: 1px solid rgba(255,255,255,0.15);
	border-radius: 3px;
	width: auto;
	padding: 10px 200px;
}
.btn-link, a{
	color: whitesmoke;
}
.btn-link:hover, a:hover{
	color: whitesmoke;
}

.los-input{
	padding: 20px;
	border-color: rgba(255,255,255,0);
	margin-bottom: 10px;
}