*{
	margin: 0;
	padding: 0;
}

body{
	background: linear-gradient(#47a592,#a27f44);
	color: #262626;
	font-family: 'Montserrat';
	background-repeat: no-repeat;
	height: 640px;
}
header{
	padding: 10px;
}
.logo-i{
	padding-top: 50px;
	margin-top: 20px;
}
#registro{
	padding-bottom: 20px;
}
.form-control{
	background-color: rgba(255,255,255,0.15);
	color: whitesmoke;
}
.los-input{
	padding: 20px;
	border-color: rgba(255,255,255,0);
	margin-bottom: 10px;
}
.btn-sesion{
	border: 1px solid rgba(255,255,255,0.15);
	border-radius: 3px;
}

.btn-link, a{
	color: whitesmoke;
}
.btn-link:hover, a:hover{
	color: whitesmoke;
	border: 1px solid rgba(255,255,255,0.15);
}
.ayuda{
	padding-top: 30px;
}
.circle{
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.circle hr{
	width: 120px;
	margin: 0 5px;
	color: #262626;
}
.circle .fa{
	color: whitesmoke;
}
.no{
	padding-top: 30px;
}
footer{
	margin-top: 30px;
	background-color: rgba(255,255,255,0.15);
	padding-bottom: 30px;
}

.error-u, .error-p{
	padding: 15px;
	color: #9c2c2c;

}